.todo-container {
  width: 400px;
  height: 500px;
  background: linear-gradient(to bottom right, #46117b, #005bb5); /* Bleu intense en dégradé */
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2); /* Ombre douce pour un effet de flottement */
  position: relative;
  font-family: 'Arial', sans-serif;
  margin-left: 50px;
  color: white;

  .title {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
    color: #fff;
  }

  .options {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 25px;
    cursor: pointer;
    transition: color 0.3s ease;
    color: #fff;

    span {
      display: block;
      margin: 2px;
    }

    &:hover {
      color: #ffcc00; /* Changer la couleur en or au survol */
    }
  }

  .bubble-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 40px;
  }

  .bubble {
    height: 120px;
    background-color: rgba(237, 226, 226, 0.2); /* Fond semi-transparent avec teinte bleu clair */
    border-radius: 25px;
    box-shadow: inset 4px 4px 8px rgba(78, 106, 172, 0.15), 
                inset -4px -4px 8px rgba(255, 255, 255, 0.6); /* Ombres internes pour un effet de profondeur */
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #fefefe; /* Texte clair pour un meilleur contraste */
    font-size: 16px;
    transition: transform 0.3s ease, background-color 0.3s ease;
    cursor: pointer;
    padding: 0 10px;
  }

  /* Styles pour les champs d'entrée dans la bulle */
  .bubble input {
    width: 800px; 
    height: 100px; /* Laisser un peu d'espace autour du texte */
    background: rgba(255, 255, 255, 0.2); /* Même couleur que la bulle */
    border: none; /* Supprimer la bordure */
    color: #f0f0f0;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    outline: none; /* Retirer la bordure focus */
    padding: 0;
    border-radius: 20px; /* Même arrondi que la bulle */
    transition: background-color 0.3s ease;
  }

  .bubble input:focus {
    background-color: rgba(255, 255, 255, 0.3); /* Légère modification du fond lors du focus */
  }

  /* Effet au survol de la bulle */
  .bubble:hover {
    transform: translateY(-5px);
    background-color: rgba(255, 255, 255, 0.4); /* Changement de couleur au survol */
  }
}
