<div class="search-bar">
  <input type="text" placeholder="Search" />
</div>

<ul class="message-list">
  
  <li class="message-item">
    <div class="avatar">
      <img src="../../assets/images/7.png" alt="Avatar" />
    </div>
    <div class="message-preview">
      <h4>Ameni</h4>
      <p>Merci beaucoup!</p>
    </div>
    <span class="time">9:52 AM</span>
  </li>

<li class="message-item">
  <div class="avatar">
    <img src="../../assets/images/8.png" alt="Avatar" />
  </div>
  <div class="message-preview">
    <h4>Eya</h4>
    <p>Bon courage!</p>
  </div>
  <span class="time">9:00 AM</span>
</li>

<li class="message-item">
  <div class="avatar">
    <img src="../../assets/images/9.png" alt="Avatar" />
  </div>
  <div class="message-preview">
    <h4>Adel</h4>
    <p>Voici la correction</p>
  </div>
  <span class="time">8:37 AM</span>
</li>
</ul>
