<div class="signup-container">
    
    <!-- Section Droite -->
  <div class="right-section">
      <h2>Création du cours</h2>
  
      <!-- Formulaire -->
      <form>
        <div class="form-row">
          <input type="text" placeholder="Titre" required />
          <input type="text" placeholder="Spécialité" required />
        </div>
  
        <input type="number" placeholder="N° Salle" required />
        <input type="text" placeholder="Enseignant" required />
        <input type="time" placeholder="Heure début" required />
        <input type="time" placeholder="Heure fin" required />
  
        <button type="submit" class="btn-submit">Créer un cours</button>
      </form>
  
    
  </div>
</div>
  