
<div class="sidebar">
    <!-- Menu principal -->
    <ul class="menu">
      <li class="menu-item"  (click)="onClickHome()"> 
        <i 
        style="
          display: inline-block; 
          width: 24px; 
          height: 24px; 
          background-image: url('../../assets/images/home.png'); 
          background-size: contain; 
          background-repeat: no-repeat; 
          vertical-align: middle;">
      </i>
        <span> Accueil</span>
      </li>
      <li class="menu-item" (click)="onClickSchedule()">
        <i 
          style="
            display: inline-block; 
            width: 24px; 
            height: 24px; 
            background-image: url('../../assets/images/cours.png'); 
            background-size: contain; 
            background-repeat: no-repeat; 
            vertical-align: middle;">
        </i>
        <span> Creer un cours</span>
      </li>
      <li class="menu-item" (click)="onClickEmplois()">
        <i 
        style="
          display: inline-block; 
          width: 24px; 
          height: 24px; 
          background-image: url('../../assets/images/emploi.png'); 
          background-size: contain; 
          background-repeat: no-repeat; 
          vertical-align: middle;">
      </i>
              <span> Emploi de temps</span>
      </li>
      <li class="menu-item" (click)="onClickMessages()">
        <i 
          style="
            display: inline-block; 
            width: 24px; 
            height: 24px; 
            background-image: url('../../assets/images/message.png'); 
            background-size: contain; 
            background-repeat: no-repeat; 
            vertical-align: middle;">
        </i>
        <span>Messages</span>
      </li>
      <li class="menu-item" (click)="onClickDoc()">
        <i 
        style="
          display: inline-block; 
          width: 24px; 
          height: 24px; 
          background-image: url('../../assets/images/doc.png'); 
          background-size: contain; 
          background-repeat: no-repeat; 
          vertical-align: middle;">
      </i>
              <span> Documents</span>
      </li>
      <li class="menu-item" (click)="onClickDev()">
        <i 
        style="
          display: inline-block; 
          width: 24px; 
          height: 24px; 
          background-image: url('../../assets/images/dev.png'); 
          background-size: contain; 
          background-repeat: no-repeat; 
          vertical-align: middle;">
      </i>
          <span> Devoir Rendus</span>
      </li>

      
    </ul>
    <div class="logout" (click)="onClickLogout()">
      <i 
      style="
        display: inline-block; 
        width: 24px; 
        height: 24px; 
        background-image: url('../../assets/images/sortie.png'); 
        background-size: contain; 
        background-repeat: no-repeat; 
        vertical-align: middle;
        margin-top: -200px;">
    </i>
      <span style="margin-top: -200px;">Sortir</span>
    </div>
  </div>
  