<div class="testimonials-section">
  <h2 class="section-title">Voir ce que d'autres réalisent grâce à l'apprentissage</h2>

  <div class="testimonials">
    
    <div class="testimonial-card">
      <p class="quote">"AlphaCours a réellement changé la donne et a été un vrai guide pour moi dans la création de Dimensional."</p>
      <div class="author">
        
        <img src="../../assets/images/10.png" alt="Alvin Lim" />
        <div>
          <p class="name">Alvin Lim</p>
          <p class="role">Cofondateur technique, directeur technique chez Dimensional</p>
        </div>
      </div>
    </div>

    <div class="testimonial-card">
      <p class="quote">"Grâce à AlphaCours, les employés ont réussi à associer compétences technologiques et comportementales en tant que consultants, ce qui leur a permis d'évoluer dans leur carrière."</p>
      <div class="author">
        
        <img src="../../assets/images/4.png" alt="Ian Stevens" />
        <div>
          <p class="name">Ian Stevens</p>
          <p class="role">Responsable du développement des capacités pour l'Amérique du Nord chez Publicis Sapient</p>
        </div>
      </div>
    </div>

    <div class="testimonial-card">
      <p class="quote">"AlphaCours vous donne la clé d'être persévérant. J'ai exactement ce que j'avais besoin pour réussir."</p>
      <div class="author">
       
        <img src="../../assets/images/5.png" alt="William A. Wachlin" />
        <div>
          <p class="name">William A. Wachlin</p>
          <p class="role">Responsable des compétences chez Amazon Web Services</p>
        </div>
      </div>
    </div>
  </div>
</div>

<footer class="footer">
  <div class="footer-container">
    <div class="footer-section">
      <h2>AlphaCours</h2>
    </div>

    <div class="footer-section">
      <h3>Support</h3>
      <p>Charguia2, Ariana, Tunisie.</p>
      <p>AlphaCours &#64; gmail.com</p>
      <p>+216-98-888-999</p>
    </div>

    <div class="footer-section">
      <h3>Compte</h3>
      <p>Mon Compte</p>
      <p>Se connecter / Register</p>
      <p>Cart</p>
    </div>

    <div class="footer-section">
      <h3>Lien rapide</h3>
      <p>politique de confidentialité</p>
      <p>Conditions d'utilisation</p>
      <p>FAQ</p>
      <p>Contact</p>
    </div>

    <div class="footer-section">
      <h3>Télécharger l'application</h3>
     
      <img src="../../assets/images/QR.png" alt="QR Code" height="100px" width="100px" />

    </div>
  </div>
</footer>

<div class="footer-bottom">
  <p>AlphaCours | Parametre des cookies | <strong>Français</strong></p>
</div>
