.calendar {
    margin-top: 3px;
    padding-top: 20px;
    width: 320px;
    height: 290px;
    margin-left: 50px;
    padding-right: -100px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 8px 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    font-family: Arial, sans-serif;
  }
  
  .calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px;
    font-size: 18px;
    font-weight: bold;
    color: #444;
  }
  
  .nav-button {
    cursor: pointer;
    color: purple;
    font-size: 20px;
  }
  
  .calendar-days {
    display: grid;
    padding-top: 3px;
    padding-bottom: 20px;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
    font-weight: bold;
    color: #888;
    padding-bottom: 10px;
  }
  
  .calendar-dates {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
  }
  
  .calendar-dates .empty {
    height: 40px;
  }
  
  .calendar-dates .date {
    padding: 7px;
    margin: 3px;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .current-day {
    background-color: purple;
    color: white;
    font-weight: bold;
  }
  