<div class="calendar">
    <div class="calendar-header">
      <span id="prev" class="nav-button">&lt;</span>
      <span id="month-year"></span>
      <span id="next" class="nav-button">&gt;</span>
    </div>
    <div class="calendar-body">
      <div class="calendar-days">
        <span>Sun</span>
        <span>Mon</span>
        <span>Tue</span>
        <span>Wed</span>
        <span>Thu</span>
        <span>Fri</span>
        <span>Sat</span>
      </div>
      <div id="calendar-dates" class="calendar-dates"></div>
    </div>
  </div>
  