<div class="container">
    
  <h2 class="title">Investissez dans votre carrière avec AlphaCours</h2>
  <div class="features">
   
    <div class="feature-item">
      <img src="../../assets/images/24.png" alt="Livre" class="rotate-image"/>
      <p>Explorez de nouvelles compétences<br />
        Accédez à plus de 10 000 cours sur l'IA, les affaires, la technologie et bien plus encore.
      </p>
    </div>
   
    <div class="feature-item">
      <img src="../../assets/images/22.png" alt="Diplôme" class="rotate-image"/>
      <p>Apprenez des meilleurs<br />
        Faites passer vos compétences au niveau supérieur grâce à des cours dirigés par des experts et à
        Coursera Coach, votre guide alimenté par l'IA.
      </p>
    </div>
    
    <div class="feature-item">
      <img src="../../assets/images/23.png" alt="Éducation" class="rotate-image"/>
      <p>Créez des parcours d'apprentissage personnalisés<br />
        en fonction des objectifs de l'équipe et de l'organisation, et hébergez même votre propre contenu ainsi que vos propres ressources.
      </p>
    </div>
  </div>

  
  <div class="statistiques">
    <p >77 % des apprenants signalent des avantages professionnels, comme l'obtention d'un nouvel emploi, une promotion, l'acquisition de compétences applicables, etc.</p>
    <img class="student-image" class="student-image slide-image" src="../../assets/images/image-removebg-preview (19).png" alt="Étudiant heureux" />
  </div>
</div>
