<div class="classes-container">
    <h3>Classes</h3>
  
    <!-- Barre d'en-tête -->
    <div class="classes-header">
      <span class="header-item">Classe</span>
      <span class="header-item">Presence</span>
      <span class="header-item">Grade</span>
      <span class="header-item">Performance</span>
    </div>
      
  
    <!-- Classe X-B -->
    <div class="class-item">
      <div class="class-info">
        <span class="class-name">Info2B</span>
        <div class="avatars">
          <img src="../../assets/images/33.png" alt="Avatar 1" />
         
          
        </div>
      </div>
      <div class="class-stats">
        <img src="../../assets/images/35.png" alt="Attendance Chart" />
        <img src="../../assets/images/30.png" alt="Grade Chart" />
        <img src="../../assets/images/200.png" alt="Performance Bar" />
      </div>
    </div>
  
    <!-- Classe X-C -->
    <div class="class-item">
      <div class="class-info">
        <span class="class-name">info2C</span>
        <div class="avatars">
          <img src="../../assets/images/33.png" alt="Avatar 3" />
        </div>
      </div>
      <div class="class-stats">
        <img src="../../assets/images/35.png" alt="Attendance Chart X-C" />
        <img src="../../assets/images/30.png" alt="Grade Chart X-C" />
        <img src="../../assets/images/200.png" alt="Performance Bar X-C" />
      </div>
    </div>
  </div>
  